<section class="section login_section">
  <div class="container">
    <form action="/api/login" method="POST">
      <div class="field">
        <label class="label">Email</label>

        <div class="control has-icons-left">
          <input
            class="input is-success"
            type="email"
            placeholder="Ingres치 tu email"
            name="email"
          >

          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label" for="">Contrase침a</label>

        <div class="control has-icons-left">
          <input
            class="input"
            placeholder="Ingres치 tu contrase침a"
            type="password"
            name="password"
          >

          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Enviar</button>
        </div>

        <div class="control">
          <button class="button is-link is-light">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</section>
