<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <title>{{title}}</title>
</head>
<body class="is-flex is-justify-content-center is-align-items-center">
  <section class="section login_section">
    <div class="container">
      <form action="">
        <div class="field">
          <label class="label">Nombre</label>

          <div class="control has-icons-left">
            <input
              class="input is-success"
              type="text"
              placeholder="Ingresá tu nombre"
              name=""
              id=""
            >

            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Apellido</label>

          <div class="control has-icons-left">
            <input
              class="input is-success"
              type="text"
              placeholder="Ingresá tu apellido"
              name=""
              id=""
            >

            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Edad</label>

          <div class="control has-icons-left">
            <input
              class="input is-success"
              type="text"
              placeholder="Ingresá tu edad"
              name=""
              id=""
            >

            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>

          <div class="control has-icons-left">
            <input
              class="input is-success"
              type="email"
              placeholder="Ingresá tu email"
              name=""
              id=""
            >

            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="">Contraseña</label>

          <div class="control has-icons-left">
            <input
              class="input"
              placeholder="Ingresá tu contraseña"
              type="password"
              name=""
              id=""
            >

            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Enviar</button>
          </div>

          <div class="control">
            <button class="button is-link is-light">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>
</html>