<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/index.css">
    <title>{{title}}</title>
  </head>

  <body class="is-flex is-justify-content-center is-align-items-center">
    {{{ body }}}
  </body>
</html>